  <!-- *** Promo *** -->
  <section id="promo" class="promo section">
    <div class="container text-center">
      <img src="static/img/openslides-services-logo-min.png" height="130px">
      <p class="intro" translate>Professional services for your usage of OpenSlides.<br>
      We help to bring OpenSlides to your assembly.</p>

      <a class="btn btn-primary" href="/#contact" du-smooth-scroll translate>Contact us</a>

      <div class="meta">
      </div>
    </div>
    <div class="blue">&nbsp;</div>
  </section>


  <!-- *** Services *** -->
  <section id="services" class="bright section">
    <div class="container">
      <h1 class="text-center" translate>Services</h1>

      <p class="lead text-center" translate>Our services helps your organization
      to run OpenSlides professional and successfully on your assembly.

      <p translate>All services are offerd by 
      <a href="https://intevation.de" target="_blank">Intevation GmbH</a> – a
      Free Software company from Osnabrück which cooperates closely with the OpenSlides
      community and supports the development and maintenance of OpenSlides.</p>

        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>
              <i class="fa fa-wrench"></i>
              <translate>Customizing</translate>
            </h3>
            <p translate>Get the OpenSlides projector in your corporate design.
            Enhance your OpenSlides application with new or customized features.
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>
              <i class="fa fa-cloud"></i>
              <translate>Hosting</translate>
            </h3>
            <p translate>Use OpenSlides as online service without installation effort!
            We host your customized OpenSlides
            installation on our powerful server infrastructur – secure and reliable.
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>
              <i class="fa fa-phone"></i>
              <translate>Individual support</translate>
            </h3>
            <p translate>Get help to configure, use and understand the power of
            OpenSlides. We provide telephone and email support to
            assist and advise you in the preparation phase.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>
              <i class="fa fa-book"></i>
              <translate>Training</translate>
            </h3>
            <p translate>Train your staff members in a workshop.
            We show you how to best integrate OpenSlides in your assembly.
            </p>
            <span class="hide-sm"><br>&nbsp;</span>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>
              <i class="fa fa-medkit"></i>
              <translate>On-site support</translate>
            </h3>
            <p translate>Book a technician who assist you on-site in setting up and
            using Openslides while your assembly.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>
              <i class="fa fa-signal"></i>
              <translate>Electronic voting</translate>
            </h3>
            <p translate>Rent a digital electronic voting system (TED system) with keypads to
            accelerate the voting process of motions and elections.
            </p>
            <img src="static/img/engage.png" alt="Engage keypad" title="Engage voting keypad" class="photo thumbnail">
          </div>
        </div><!--//row-->

        <div class="row text-center">
          <a class="btn btn-primary" href="/#contact" du-smooth-scroll translate>Contact us</a>
        </div>
    </div><!--//container-->

    <!-- References -->
    <div class="references blue" ng-controller="ReferenceCtrl">
      <div class="container">
        <h2 class="text-center" translate>Customor statements</h2>
          <uib-carousel active="0" interval="0">
            <uib-slide index="0">
              <div class="row">
                <div class="col-xs-1"></div>
                <img src="static/img/references/gruene-logo.png" class="col-xs-3 thumbnail pull-left">
                <div class="col-xs-7">
                  <blockquote>
                    <p>»Wir sehen in OpenSlides ein innovatives Open Source
                    Produkt, das dabei hilft, unsere demokratischen,
                    innerparteilichen Strukturen in das digitale Zeitalter zu
                    transportieren.«
                    <footer>BÜNDNIS 90/DIE GRÜNEN, Landesverband Hamburg</footer>
                  </blockquote>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </uib-slide>
            <uib-slide index="1">
              <div class="row">
                <div class="col-xs-1"></div>
                <img src="static/img/references/ev-kirche-krefeld-viersen-logo.png" class="col-xs-3 thumbnail pull-left">
                <div class="col-xs-7">
                  <blockquote>
                    <p>»OpenSlides unterstützt uns schon bei der Planung
                    unserer Kreissynoden durch die strukturierte Eingabe der
                    Tagesordnung, der Anträge und Wahlen. Während der
                    Veranstaltung bleiben wir immer flexibel und können
                    situationsbedingt 'Folien' ein- und ausblenden.«
                    <footer>Evangelischer Kirchenkreis Krefeld-Viersen</footer>
                  </blockquote>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </uib-slide>
            <uib-slide index="2">
              <div class="row">
                <div class="col-xs-1"></div>
                <img src="static/img/references/slaek-logo.png" class="col-xs-3 thumbnail pull-left">
                <div class="col-xs-7">
                  <blockquote>
                    <p>»Eine Software ist auf Dauer nur so gut wie seine
                    Entwickler. Wir gehen davon aus, mit der Firma Intevation und
                    Herrn Schütze auf Dauer einen kompetenten und verlässlichen
                    Partner an unserer Seite zu haben.«
                    <footer>Sächsische Landesärztekammer</footer>
                  </blockquote>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
        <p></p>
      </div>
    </div>
  </section>



  <!-- *** CONTACT *** -->
  <section id="contact" class="bright">
    <div class="container">
      <h1 class="text-center" translate>Contact</h1>

      <p class="lead" translate>We look forward to hearing from you!</p>
      <div class="row">

        <div class="col-md-6 col-sm-12">
          <h3><i class="fa fa-user"></i> Your contact person:</h3>
          <p>
          <b>Emanuel Schütze</b><br>
          Intevation GmbH<br>
          Neuer Graben 17<br>
          D-49074 Osnabrück<br>
          <p>
            <a href="mailto:emanuel.schuetze@intevation.de"><i class="fa fa-envelope"></i>
            emanuel.schuetze@intevation.de</a>
          <p>
            <strong><i class="fa fa-phone"></i> +49 541 335083-746</strong>
        </div>


      </div><!--//row-->
    </div>
  </section>
